<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Graficos!!{% endblock %}</title>
    <script src="{% static 'js/chart.js' %}"></script>
</head>
<body>

{% block content %}

<div style="width:800px; height:600px;">
    <canvas id="graficoIndidual" ></canvas>
</div>
{% endblock %}

{% block scripts %}
<script >

var ctx = document.getElementById("graficoIndidual");
var palavras = JSON.parse('{{ palavras|safe }}');
var repeticoes = JSON.parse('{{ repeticoes|safe }}');
var productsChart = new Chart(ctx, {
    type: 'bar',
    data: [20,20],
    options: {
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }
});
</script>
{% endblock %}

</body>
</html>tml>